version: '3.8'

services:
  redis:
    image: redis:8.4.0-alpine
    container_name: phone_address_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app_network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: phone_address_app
    ports:
      - "8000:8000"

    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      DEBUG: "True"

    depends_on:
      redis:
        condition: service_healthy

    restart: unless-stopped
    networks:
      - app_network

volumes:
  redis_data:


networks:
  app_network:
    driver: bridge
